/*
    Date: 27-05-2020
    Updated: 02-06-2020
    Change: Finish the headings
    Updated: 03-06-2020
    Change: Added trailer and thumbnails
*/

html {
    height: 100%;
    margin: auto;
    overflow: scroll;
}

.setPic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.placetextonPic {
    position: absolute;
    bottom: 13%;
    left: 58.5%;
    height: 100%;
    width: 15%;
    padding: 15px;
    padding-top: 20%;
    background-color: black;
    opacity: 0.8;
    color: white;
}

.frontHeader {
    background-color: black;
    color: aqua;
    padding-left: 1%;
    width: 100%
}

body {
    background-color: white;
    padding-bottom: 58px;
}

/* Box container of information.*/
.frontBox {
    position: absolute;
    top: 50%;
    left: 19%;
    width: 62%;
    background-color: white;
    padding-top: 10px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 10%;
}

/* Table settings to hide borders*/
table {
    border: hidden;
    border: 1px solid #ccc;
    border-color: white;
    border-collapse: collapse;
}

/* Positioning and color of text on thumb pictures first table in box container. */
.placeTextOnThumbs {
    background-color: black;
    opacity: 0.8;
    color: aqua;
    width: 100%;
    text-align: center;
    padding-bottom: 0px;
    font-size: 100%;
}

/* Black header with blue text color*/
.trailerHeader {
    background-color: black;
    color: aqua;
}

/* Background color and positioning settings for thumbs*/
#whiteThumb {
    padding-left: 2%;
    padding-right: 0%;
    padding-bottom: 0%;
    background-color: white;
}

/* Background color and positioning settings for thumbs*/
#greyThumb {
    padding-left: 2%;
    padding-right: 0%;
    padding-bottom: 0%;
    background-color: #e5e5e5;
}

/* Text positioníng for thumb pictures*/
#thumbText {
    padding-left: 0%;
    padding-bottom: 0%;
}

/*Blue pill button */
.AquaButton {
    background-color: deepskyblue;
    color: white;
    border-radius: 16px;
    border: hidden;
    font-size: 70%;
    padding: 1.4%;
    width:25%; 
    height: 20%;
}

/*Footer color and positioning settings*/
.Footer {
    background-color: #dbd2d2;
    color: dimgrey;
    text-align: center;
    padding-top: 1.7%;
    padding-bottom: .1%;
    font-size: 10px;
}

#whiteSpace{
    padding-left:0%;
    padding-right:0%;
    width:0.3%;
    background-color:white
}