.ContactBackground {
    position: absolute;
    top: 0;
    width: 100%;
    background: repeating-linear-gradient( 45deg, #808080, #808080 1px, #626262 1px, #626262 2px);
    /*The background is set as small so as to give the effect of a lot of smaller elements*/
    background-size: 5px 5px;
    height: 20%;
    padding-left: 22%;
    padding-top: 2%
}

.WhiteBoxBackground {
    position: absolute;
    height: 20%;
    left: 23%;
    width: 54.5%;
    top: 13%;
    background-color: white;
    padding: 20px;
}

.SpilHeader {
    background-color: black;
    color: aqua;
    padding-left: 1%;
    padding-right: 0%;
}

table {
    border: hidden;
    border: 1 px solid #ccc;
    border-collapse: collapse;
}
