.ContactBackground {
    position: absolute;
    top: 0;
    width: 100%;
    background: repeating-linear-gradient( 45deg, #808080, #808080 1px, #626262 1px, #626262 2px);
    /*The background is set as small so as to give the effect of a lot of smaller elements*/
    background-size: 5px 5px;
    height: 20%;
    padding-left: 22%;
    padding-top: 2%
}

.WhiteBoxBackground {
    position: absolute;
    height: 20%;
    left: 23%;
    width: 54.5%;
    top: 10%;
    background-color: white;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
}

.SpilHeader {
    background-color: black;
    color: aqua;
    padding-left: 1%;
    padding-right: 0%;
}

.Footer {
    background-color: #dbd2d2;
    color: dimgrey;
    text-align: center;
    padding-top: 1.7%;
    padding-bottom: .1%;
    font-size: 10px;
}

table {
    border: hidden;
    border: 1 px solid #ccc;
    border-collapse: collapse;
}

#Seperator {
    background-color: #e5e5e5;
}

#GameTitle {
    font-size: 150%;
}

#GameInfo {
    font-size: 90%;
}

#GameDescription {
    font-size: 95%;
}

#NyeAnmeldelser {
    font-size: 150%;
}

#GameTitleNyeAnd {
    font-size: 100%;
    padding-bottom: 0%;
}

#AndDesc {
    font-size: 78%;
    padding-top: 0%;
    padding-bottom: 0%;
}
