@{
    ViewData["Title"] = "Home Page";
}


<head>

    @* Link and import section *@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/frontPage.css" />
    <link rel="stylesheet" href="css/tekstHeader.css" />
</head>

<body>

    @* Banner Section *@
    <div class="setPic">
        <img src="~/Gamechanger billedmateriale/Slidebanner/banner_assasins_creed_2.jpg" style="width:100%;" />

        @* Text placement on tekst *@
        <div class="placetextonPic">
            <h3>ASSASINS CREED</h3>
            <p>Assassin's Creed er en computerspilserie, der er udgivet af Ubisoft. I spilserien findes der lige nu 11 spil, hvor det seneste udkom d. 5. oktober 2018. </p>
            <img src="~/Gamechanger billedmateriale/Logo/favorite_icon.png" style="width:15%;vertical-align:bottom" />
        </div>
    </div>

    @* White box container *@
    <div class="frontBox">
        <table class="table" style="border:hidden">
            <thead>
                <tr>
                    <th style="padding-right:0px;width:12%">
                        <a target="_blank" href="/Anmeldelser/SplinterCellBlacklist.html">
                            <img src="~/Gamechanger billedmateriale/Thumbs/thumb_splintercell.jpg" style="width:100%" />
                            <p class="placeTextOnThumbs">Splinter Cell: Black List</p>
                        </a>

                    </th>
                    <th style="padding-right:0px;width:12%">
                        <a href="/Anmeldelser/gtav.html">
                            <img src="~/Gamechanger billedmateriale/Thumbs/thumb_gtav.jpg" style="width:100%" />
                            <p class="placeTextOnThumbs">Grand Theft Auto V</p>
                        </a>

                    </th>
                    <th style="padding-right:0px;width:12%">
                        <a href="~/Anmeldelser/Halo4.html">
                            <img src="~/Gamechanger billedmateriale/Thumbs/thumb_halo4.jpg" style="width:100%" />
                            <p class="placeTextOnThumbs">Halo 4</p>
                        </a>

                    </th>
                    <th style="padding-right:0px;width:12%">
                        <a href="~/Anmeldelser/Titanfall.html">
                            <img src="~/Gamechanger billedmateriale/Thumbs/thumb_titanfall.jpg" style="width: 100%" />
                            <p class="placeTextOnThumbs">Titanfall</p>
                        </a>
                    </th>
                    <th style="padding-right:0px;width:12%">
                        <a href="~/Anmeldelser/thombraider2013.html">
                            <img src="~/Gamechanger billedmateriale/Thumbs/thumb_tomb_raider_2013.jpg" style="width: 100%" />
                            <p class="placeTextOnThumbs">Tomb Raider</p>
                        </a>
                    </th>
                    <th style="padding-right:10px;width:12%">
                        <a href="~/Anmeldelser/Forza4.html">
                            <img src="~/Gamechanger billedmateriale/Thumbs/thumb_forza4.jpg" style="width: 100%" />
                            <p class="placeTextOnThumbs">Forza 4</p>
                        </a>
                    </th>
                </tr>
            </thead>
        </table>

        @* Table containing Seneste Trailer og Mest populære spil *@
        <table class="table">
            <thead>
                <tr>
                    <th class="trailerHeader" style="width:4%;padding-top:0%;padding-bottom:1.5%;padding-right:1%">
                        <img src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" style="width:20px;height:20px;" />
                    </th>
                    <th class="trailerHeader" style="text-align:left;width:59%;padding-left:0%;padding-bottom:0%;padding-top:1%">
                        <h3>
                            Seneste trailer
                        </h3>
                    </th>
                    <th style="padding-right:0%;border:hidden">

                    </th>
                    <th class="trailerHeader" style="text-align:right;padding-right:0%;padding-top:0%;padding-bottom:1.5%">
                        <img src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" style="width:20px;height:20px" />
                    </th>
                    <th class="trailerHeader" style="padding-bottom: 0%;padding-top:1%; ">
                        <h3 style="font-size: 1.7vw">
                            Mest populære spil
                        </h3>
                    </th>
                </tr>
                <tr>
                    @*
                        Left column Seneste Trailer section:
                        Takes a border cut from youtube. In this case a trailer for call of Duty
                    *@
                    <td style="width:100%;height:150%;padding-left:0%;padding-top:1%;padding-right:0%;border:hidden" colspan="2">
                        <iframe style="width:100%;height:400px" src="https://www.youtube.com/embed/hvoD7ehZPcM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <h4>
                            Grand Theft Auto V Trailer
                        </h4>
                        <p style="padding-bottom:0%">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nisl arcu, ornare vel ipsum in, euismod finibus urna. In venenatis a orci id eleifend. Curabitur convallis nibh eget lectus pellentesque, quis fringilla libero tincidunt. Integer consequat commodo ante, vitae laoreet ipsum. Nam erat velit, efficitur in erat eu, faucibus bibendum metus. Vivamus ac risus vestibulum, tempus magna eget, aliquam ligula.
                        </p>
                        <a href="~/Anmeldelser/gtav.html">
                            <button class="AquaButton" style="width: 15%; height: 5%">
                                Læs mere
                            </button>
                        </a>
                    </td>

                    <td></td>

                    @* Right column containing Mest populære spil. *@
                    <td colspan="2" style="padding-top:0%;padding-left:0%;padding-right:0%">
                        <table style="border:hidden;padding:1%;width:100%">
                            <tr id="whiteThumb">
                                <td id="whiteThumb" width="20%">
                                    <a href="~/Anmeldelser/SplinterCellBlacklist.html">
                                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_splintercell.jpg" style="height:30%; width:75px" />
                                    </a>
                                </td>
                                <td id="thumbText" style="padding-left: 2%;">
                                    <a href="~/Anmeldelser/SplinterCellBlacklist.html">
                                        <h6><strong>Splinter Cell: Black List</strong></h6>
                                    </a>
                                    <p>
                                        Udgiver: Ubisoft<br />
                                        Genre: Stealth
                                    </p>
                                </td>
                            </tr>

                            <tr id="greyThumb">
                                <td style="padding-bottom:0%;padding-left:2%;padding-right:1%" width="20%">
                                    <a href="~/Anmeldelser/gtav.html">
                                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_gtav.jpg" style="height:30%;width:75px" />
                                    </a>
                                </td>
                                <td id="thumbText" style="padding-left: 2%">
                                    <a href="~/Anmeldelser/gtav.html">
                                        <h6><strong>Grand Theft Auto V</strong></h6>
                                    </a>
                                    <p>
                                        Udgiver: Rockstar Games<br />
                                        Genre: First Person Shooter
                                    </p>
                                </td>
                            </tr>

                            <tr id="whiteThumb">
                                <td id="whiteThumb" width="20%">
                                    <a href="~/Anmeldelser/thombraider2013.html">
                                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_tomb_raider_2013.jpg" style="height:30%;width:75px" />
                                    </a>
                                </td>
                                <td id="thumbText" style="padding-left: 2%">
                                    <a href="~/Anmeldelser/thombraider2013.html">
                                        <h6><strong>Thomb Raider 2013</strong></h6>
                                    </a>
                                    <p>
                                        Udgiver: Square Enix<br />
                                        Genre: Action-adventure
                                    </p>
                                </td>
                            </tr>

                            <tr id="greyThumb">
                                <td id="greyThumb" width="20%">
                                    <a href="~/Anmeldelser/Forza4.html">
                                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_forza4.jpg" style="height:30%;width:75px" />
                                    </a>
                                </td>
                                <td id="thumbText" style="padding-left: 2%">
                                    <a href="~/Anmeldelser/Forza4.html">
                                        <h6><strong>Forza 4</strong></h6>
                                    </a>
                                    <p>
                                        Udgiver: Rockstar Games<br />
                                        Genre: Motorsport
                                    </p>
                                </td>
                            </tr>

                            <tr id="whiteThumb">
                                <td id="whiteThumb" width="20%">
                                    <a href="~/Anmeldelser/Titanfall.html">
                                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_titanfall.jpg" style="height:30%;width:75px" />
                                    </a>
                                </td>
                                <td id="thumbText" style="padding-left: 2%">
                                    <a href="~/Anmeldelser/Titanfall.html">
                                        <h6><strong>Titanfall</strong></h6>
                                    </a>
                                    <p>
                                        Udgiver: Respawn Entertainment<br />
                                        Genre: Action, Skydespil
                                    </p>
                                </td>
                            </tr>

                            <tr id="greyThumb">
                                <td id="greyThumb" width="20%">
                                    <a href="~/Anmeldelser/Halo4.html">
                                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_halo4.jpg" style="height:30%;width:75px" />
                                    </a>
                                </td>
                                <td id="thumbText" style="padding-left: 2%">
                                    <a href="~/Anmeldelser/Halo4.html">
                                        <h6><strong>Halo 4</strong></h6>
                                    </a>
                                    <p>
                                        Udgiver: Rockstar Games<br />
                                        Genre: First Person Shooter
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </thead>
        </table>

        @* Table containing |Seneste anmeldelse, Seneste artikel & Bliv medlem | Reminder a coulmn is used as space between columns shown. *@
        <table class="table">
            <thead>
                <tr>
                    <td class="trailerHeader" style="width: 0.5%; padding-right: 0%; padding-bottom:0%; padding-top: 0.6%;margin-right:0%">
                        <img src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" style="width:15px;height:15px" />
                    </td>
                    <td class="trailerHeader" style=" width: 16%; padding-left: 0%; padding-bottom: 0%; padding-top: 1%;padding-right:1%">
                        <h6>Seneste anmeldelse</h6>
                    </td>

                    <td id="whiteSpace"></td>

                    <td class="trailerHeader" style="width: 0.5%; padding-right: 0%; padding-bottom: 0%; padding-top: 0.6%;">
                        <img src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" style="width:15px;height:15px" />
                    </td>
                    <td class="trailerHeader" style="width: 16%; padding-right: 0%; padding-bottom: 0%; padding-top: 1%;padding-left:0%">
                        <h6>Seneste artikel</h6>
                    </td>

                    <td id="whiteSpace"></td>

                    <td class="trailerHeader" style="width: 0.5%; padding-right: 0%; padding-bottom: 0%; padding-top: 0.6%;">
                        <img src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" style="width:15px;height:15px" />
                    </td>
                    <td class="trailerHeader" style="width: 16%; padding-right: 0%; padding-bottom: 0%; padding-top: 1%;padding-left:0%">
                        <h6>Bliv medlem</h6>
                    </td>
                </tr>
                @* Column 1 *@
                <tr>
                    <td style="width:100%;padding-left:0%; padding-right: 0%" colspan="2">

                        <img src="~/Gamechanger billedmateriale/Anmeldelser/forza_motorsport.jpg" style=" width: 100%; padding-left: 0%; padding-right: 0%" />
                        <h5>
                            <strong>
                                The best racing experience
                            </strong>
                        </h5>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <a href="~/Anmeldelser/Forza4.html">
                            <button class="AquaButton">
                                Læs mere
                            </button>
                        </a>
                    </td>

                    <td id="whiteSpace"></td>

                    @* Column 3 *@
                    <td style="width:100%;padding-left:0%;padding-right:0%" colspan="2">
                        <img src="~/Gamechanger billedmateriale/Forside/article_gamer.jpg" style=" width: 100%; padding-left: 0%; padding-right: 0%" />
                        <h5>
                            <strong>
                                Sådan bliver du professionel gamer
                            </strong>
                        </h5>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        <button class="AquaButton">
                            Læs mere
                        </button>
                    </td>
                    <td id="whiteSpace"></td>
                    @* Column 5 *@
                    <td style="width:100%;padding-left:0%;padding-right:0%" colspan="2">
                        <img src="~/Gamechanger billedmateriale/Forside/article_membership.png" style=" width: 100%; padding-left: 0%; padding-right: 0%" />
                        <h5>
                            <strong>
                                Bliv medlem i dag og spar 30%
                            </strong>
                        </h5>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        <button class="AquaButton">
                            Læs mere
                        </button>
                    </td>
                </tr>
            </thead>
        </table>
        @* Kontakt footer at the end of the box container. *@
        <div class="Footer">
            <p>GameChanger website | <u>kontakt@gamechanger.local</u> | <u>www.gamechanger.local</u></p>
        </div>
    </div>

    @* Navigation banner *@
    <div class="header; sticky" id="frontHeader" style="width: 100%">

        <div class="topnav" style="text-align: center">
            <a href="http://localhost:55716/" id="active">Forside</a>
            <a href="Spil.html">Spil</a>
            <a href="Kontakt.html">Kontakt</a>
        </div>
    </div>

</body>