@{
    ViewData["Title"] = "Home Page";
}


    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="css/frontPage.css" />
        <link rel="stylesheet" href="css/tekstHeader.css" />
    </head>

<body>
    <div class="header" id="frontHeader">
        <div class="setPic">
            <img src="~/Gamechanger billedmateriale/Slidebanner/banner_assasins_creed_2.jpg" style="width:100%;" />
            <div class="placetextonPic">
                <h3>ASSASINS CREED</h3>
                <p>Assassin's Creed er en computerspilserie, der er udgivet af Ubisoft. I spilserien findes der lige nu 11 spil, hvor det seneste udkom d. 5. oktober 2018. </p>
                <img src="~/Gamechanger billedmateriale/Logo/favorite_icon.png" width="15%" />
            </div>

        </div>

        <div class="topnav" style="text-align: center">
            <a href="http://localhost:52434/">Forside</a>
            <a href="Spil.html">Spil</a>
            <a href="Anmeldelser.html">Anmeldelser</a>
            <a href="Kontakt.html">Kontakt</a>
        </div>
    </div>
    <div class="frontBox" >
        <table class="table" style="border:hidden">
            <thead >
                <tr>
                    <th style="padding-right:0px;width:16%">
                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_splintercell.jpg"  style="height:35%;width:auto"/>
                        <p class="placeTextOnThumbs">Splinter Cell: Black List</p>
                    </th>
                    <th style="padding-right:0px;width:16%">
                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_gtav.jpg" style="height:35%;width:auto" />
                        <p class="placeTextOnThumbs">Splinter Cell: Black List</p>

                    </th>
                    <th style="padding-right:0px">
                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_halo4.jpg" style="height:35%;width:auto" />
                        <p class="placeTextOnThumbs">Splinter Cell: Black List</p>

                    </th>
                    <th style="padding-right:0px">
                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_titanfall.jpg" style="height:35%;width:auto" />
                        <p class="placeTextOnThumbs">Splinter Cell: Black List</p>
                    </th>
                    <th style="padding-right:0px">
                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_tomb_raider_2013.jpg" style="height:35%;width:auto" />
                        <p class="placeTextOnThumbs">Splinter Cell: Black List</p>
                    </th>
                    <th style="padding-right:10px" >
                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_forza4.jpg" style="height:35%;width:auto" />
                        <p class="placeTextOnThumbs">Splinter Cell: Black List</p>
                    </th>
                </tr>
            </thead>
        </table>
        <table>
            <thead>
                <tr>
                    <th class="trailerHeader">
                        <img src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" style="width:4%;height:80%" />
                    </th>
                    <th  class="trailerHeader">
                        <h3>
                             Seneste trailer
                        </h3>
                    </th>
                    <th class="trailerHeader">
                        <img src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" style="width:70%;height:80%" />
                    </th>
                    <th class="trailerHeader">
                        <h3>
                            Mest populære spil
                        </h3>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    
</body>

