@{
    ViewData["Title"] = "Home Page";
}


    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="css/frontPage.css" />
        <link rel="stylesheet" href="css/tekstHeader.css" />
    </head>

<body>
    <div class="header" id="frontHeader">
        <div class="setPic">
            <img src="~/Gamechanger billedmateriale/Slidebanner/banner_assasins_creed_2.jpg" style="width:100%;" />
            <div class="placetextonPic">
                <h3>ASSASINS CREED</h3>
                <p>Assassin's Creed er en computerspilserie, der er udgivet af Ubisoft. I spilserien findes der lige nu 11 spil, hvor det seneste udkom d. 5. oktober 2018. </p>
                <img src="~/Gamechanger billedmateriale/Logo/favorite_icon.png" width="15%" />
            </div>

        </div>

        <div class="topnav" style="text-align: center">
            <a href="http://localhost:52434/">Forside</a>
            <a href="Spil.html">Spil</a>
            <a href="Anmeldelser.html">Anmeldelser</a>
            <a href="Kontakt.html">Kontakt</a>
        </div>
    </div>
    <div class="frontBox" >
        <table class="table" style="border:hidden">
            <thead >
                <tr>
                    <th style="padding-right:0px;width:12%">
                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_splintercell.jpg"  style="height:55%;width:auto"/>
                        <p class="placeTextOnThumbs">Splinter Cell: Black List</p>
                    </th>
                    <th style="padding-right:0px;width:12%">
                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_gtav.jpg" style="height:55%;width:auto" />
                        <p class="placeTextOnThumbs">Splinter Cell: Black List</p>

                    </th>
                    <th style="padding-right:0px;width:12%">
                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_halo4.jpg" style="height:55%;width:auto" />
                        <p class="placeTextOnThumbs">Splinter Cell: Black List</p>

                    </th>
                    <th style="padding-right:0px;width:12%">
                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_titanfall.jpg" style="height:55%;width:auto" />
                        <p class="placeTextOnThumbs">Splinter Cell: Black List</p>
                    </th>
                    <th style="padding-right:0px;width:12%">
                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_tomb_raider_2013.jpg" style="height:55%;width:auto" />
                        <p class="placeTextOnThumbs">Splinter Cell: Black List</p>
                    </th>
                    <th style="padding-right:10px;width:12%">
                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_forza4.jpg" style="height:55%;width:auto" />
                        <p class="placeTextOnThumbs">Splinter Cell: Black List</p>
                    </th>
                </tr>
            </thead>
        </table>
        <table class="table">
            <thead>
                <tr style="padding-top:1%;padding-bottom:1%">
                    <th class="trailerHeader" style="width:2%;padding-top:0%;padding-bottom:1%">
                        <img src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" style="width:16px;height:19px" />
                    </th>
                    <th  class="trailerHeader" style="text-align:left;width:59%;padding-left:0%;padding-bottom:1%" >
                        <h3>
                             Seneste trailer
                        </h3>
                    </th>
                    <th style="padding-right:0%;border:hidden;padding-bottom:1%">
                        
                    </th>
                    <th class="trailerHeader" style="text-align:right;padding-right:0%;padding-top:0%;padding-bottom:1%">
                        <img src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" style="width:16px;height:19px" />
                    </th>
                    <th class="trailerHeader"style="padding-bottom: 1%" >
                        <h3>
                            Mest populære spil
                        </h3>
                    </th>
                </tr>
                <tr>
                    <th style="width:100%;height:150%;padding-left:0%;padding-top:1%;padding-right:0%;border:hidden" colspan="2">
                        <iframe style="width:100%;height:150%" src="https://www.youtube.com/embed/4A05AnPSC6g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    
</body>

